<html>

<head>
  <title>Shibboleth Simulator - Login page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>
  <div class="container">
    <img src="img/solidify.png" width="200" alt="Solidify">
    <h1>Please login</h1>
    <br>
    <form action="" method="post">
      <input type="text" placeholder="Username" name="username" value="{{ request.form.username }}">
      <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}">
      <input class="btn btn-default" type="submit" value="Login">
    </form>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
  </div>
</body>

</html>