<html>

<head>
  <title>Shibboleth Simulator - MFA Login page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<script>
  function generateMfaCode() {
    let code = Math.floor((Math.random() * 10000) + 1);
    document.getElementById("mfa-code").innerHTML = '<strong>MFA Code:</strong>' + code;
    document.getElementById("mfa").value = code;
  }
</script>

<body>
  < class="container">
    <img src="img/solidify.png" width="200" alt="Solidify">
    <h1>Please login</h1>
    <br>
    <form action="" method="post">
      <input type="hidden" id="mfa" name="mfa" value="{{ request.form.mfa }}">
      <input type="text" placeholder="Username" name="username" value="{{ request.form.username }}">
      <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}">
      <input type="text" placeholder="Code" name="code" value="{{ request.form.code }}">
      <input class="btn btn-default" type="submit" value="Login">
    </form>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
    </div>
    <div>
      <p id="mfa-code"></p>
      <button onclick="generateMfaCode()">Get MFA code</button>
    </div>
</body>

</html>